<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport"  content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta property="og:title" content="Treyas Info Tech"/>
    <meta property="og:description" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:type" content="Education Website"/>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/png" />
    <title>Treyas Info Tech</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flaticon.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/owl-carousel/owl.carousel.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/nice-select/css/nice-select.css') }}" />
    <!-- main css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                alert("{{ messages[0] }}");
            </script>
        {% endif %}
    {% endwith %}
  </head>
 

  <body>
    <!--================ Start Header Menu Area =================-->
    <header class="header_area">
      <div class="main_menu">
        <div class="search_input" id="search_input_box">
          <div class="container">
            <form class="d-flex justify-content-between" method="" action="">
              <input
                type="text"
                class="form-control"
                id="search_input"
                placeholder="Search Here"
              />
              <button type="submit" class="btn"></button>
              <span
                class="ti-close"
                id="close_search"
                title="Close Search"
              ></span>
            </form>
          </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand logo_h" href="{{ url_for('index') }}" >
              <img src="{{ url_for('static', filename='img/logo.png') }}" alt="" width="100px" height="80px"/>
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="icon-bar"></span> <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div
              class="collapse navbar-collapse offset"
              id="navbarSupportedContent"
            >
              <ul class="nav navbar-nav menu_nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('about') }}">About</a>
                </li>
                 
                <li class="nav-item submenu dropdown">
                  <a
                    href="{{ url_for('courses') }}"
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >Courses</a
                  >
                  <ul class="dropdown-menu row">
                    <div class="col-6">
                   <h5 class="navbar-h5"> Technology training </h5>
                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('Power_BI') }}">Power BI</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('Tableau') }}">Tableau</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('SQL') }}">SQL</a>
                    </li> 
                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('Salesforce') }}">Salesforce</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('Full_stack_development') }}">Full stack development</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('Python') }}">Python</a>
                    </li>
                  </div>
                    <div class="col-6">
                    <h5 class="navbar-h5">Product management courses</h5>
                     
                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('Product_management_and_analytics') }}">Product management and analytics</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('Agile_methodologies_training') }}">Agile methodologies training</a>
                    </li>
                  </div>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#contact">Contact</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link search" id="search">
                    <i class="ti-search"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!--================ End Header Menu Area =================-->

    <!--================Home Banner Area =================-->
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <div class="banner_content text-center">
                <h2>About Us</h2>
                <div class="page_link">
                  <a href="{{ url_for('index') }}">Home</a>
                  <a href="{{ url_for('about') }}">About Us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================ Start About Area =================-->
    <section class="about_area section_gap">
      <div class="container">
        <div class="row h_blog_item">
          <div class="col-lg-6">
            <div class="h_blog_img">
              <img class="img-fluid" src="{{ url_for('static', filename='img/about.png') }}" alt="" />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="h_blog_text">
              <div class="h_blog_text_inner left right">
                <h4>Welcome to Treyas Info Tech and Consulting Pvt Ltd : Your Strategic Partner for Business Success!
                </h4>
                <h6>Join the quest for tech excellence at the Whitefield Campus in Banglore.</h6>
                <br>
                <p>
                  At Treyas Info Tech, we specialize in providing tailored solutions and expert guidance to help businesses thrive in today's dynamic market landscape. 
                </p>
                <p>
                  With a proven track record of delivering results, we are your trusted partner for driving growth, innovation, and transformation.
                </p>
                 
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ End About Area =================-->

    <!--================ Start Feature Area =================-->
    <section class="feature_area section_gap_top title-bg">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="main_title">
              <h2 class="mb-3 text-white">Our Services</h2>
              <p>
                Elevate your career to new heights with confidence and expertise.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="single_feature">
              <div class="icon"><span class="flaticon-student"></span></div>
              <div class="desc">
                <h4 class="mt-3 mb-2">Strategy Consulting:</h4>
                <p>
                  Develop strategic plans that align with your business objectives, identify growth opportunities, and navigate market challenges with confidence.
                  <br><br>
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="single_feature">
              <div class="icon"><span class="flaticon-book"></span></div>
              <div class="desc">
                <h4 class="mt-3 mb-2">Digital Transformation</h4>
                <p>
                  Embrace digital technologies to streamline processes, enhance customer experiences, and drive innovation across your organization.
                  <br> <br>
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="single_feature">
              <div class="icon"><span class="flaticon-earth"></span></div>
              <div class="desc">
                <h4 class="mt-3 mb-2">Operations Improvement</h4>
                <p>Optimize your operations for maximum efficiency and effectiveness, from supply chain management to process optimization and workflow automation.
                </br></br>
                </p>
              </div>
            </div>
          </div>
           
        </div>
      </div>
    </section>
    <!--================ End Feature Area =================-->

    <!--================ Start Trainers Area =================-->
    <section class="trainer_area section_gap_top">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="main_title">
              <h2 class="mb-3">The Treyas Advantage</h2>
              <p>
                We offer a transformative educational experience, blending advanced technology, personalized strategies, and expert guidance for unparalleled success.
              </p>
            </div>
          </div>
        </div>
        <div class="row justify-content-center d-flex align-items-center">
          <div class="col-lg-3 col-md-6 col-sm-12 single-trainer">
            <div class="thumb d-flex justify-content-sm-center">
              <img class="img-fluid" src="{{ url_for('static', filename='img/trainer/t1.jpg') }}" alt="" />
            </div>
            <div class="meta-text text-sm-center">
              <h4>Customized Solutions</h4>
              <br>
              <div class="mb-4">
                <p>
                  We understand that every business is unique. That's why we take a personalized approach to every client engagement, crafting solutions that are tailored to your specific needs, goals, and challenges.

                </p>
              </div>
               
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-12 single-trainer">
            <div class="thumb d-flex justify-content-sm-center">
              <img class="img-fluid" src="{{ url_for('static', filename='img/trainer/t2.jpg') }}" alt="" />
            </div>
            
            <div class="meta-text text-sm-center">
              <h4>Industry Expertise</h4>
              <br>
              <div class="mb-4">
                <p>
                  Our team of seasoned consultants brings a wealth of industry experience and deep domain knowledge to the table. From technology and finance to healthcare and retail, we have the expertise to address the diverse needs of businesses across all sectors. </p>
              </div>
               
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-12 single-trainer">
            <div class="thumb d-flex justify-content-sm-center">
              <img class="img-fluid" src="{{ url_for('static', filename='img/trainer/t3.jpg') }}" alt="" />
            </div>
            <div class="meta-text text-sm-center">
              <h4>Strategic Insights</h4>
              <br>
              <div class="mb-4">
                <p>
                  We go beyond surface-level solutions to provide strategic insights that drive long-term success. Whether you're looking to enter new markets, optimize operations, or launch innovative products, we help you make informed decisions that propel your business forward.
                </p>
              </div>
              
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-12 single-trainer">
             
            <div class="thumb d-flex justify-content-sm-center">
              
              <img class="img-fluid" src="{{ url_for('static', filename='img/trainer/t4.jpg') }}" alt="" />
            </div>
            
            <div class="meta-text text-sm-center">
              <h4>Collaborative Partnership</h4>
              <br> 
              <div class="mb-4">
                <p>
                  We believe in building strong, collaborative partnerships with our clients. From initial consultation to project implementation and beyond, we work closely with you every step of the way to ensure alignment, transparency, and success.
                </p>
              </div>
               
            </div>
          </div>

           
        </div>
      </div>
    </section>
    <!--================ End Trainers Area =================-->

   <!--================ Start Testimonial Area =================-->
   <div class="testimonial_area section_gap">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="main_title">
            <h2 class="mb-3">Testimonials About us</h2>
            
          </div>
        </div>
      </div>

      <div class="row">
        <div class="testi_slider owl-carousel">
          <div class="testi_item">
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <img src="{{ url_for('static', filename='img/testimonials/t1.jpg') }}" alt="" />
              </div>
              <div class="col-lg-8">
                <div class="testi_text">
                  <h4>Naveen</h4>
                  <p>
                    I learned a lot and became really good at Power BI. Now, I use my skills to turn my love for data into a job, creating meaningful visualizations along the way!   </p>
                </div>
              </div>
            </div>
          </div>
          <div class="testi_item">
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <img src="{{ url_for('static', filename='img/testimonials/t2.jpg') }}" alt="" />
              </div>
              <div class="col-lg-8">
                <div class="testi_text">
                  <h4>Divya Menon</h4>
                  <p>
                    Started learning Full Stack Development with excitement! Really recommend this amazing learning experience that can change your skills!
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="testi_item">
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <img src="{{ url_for('static', filename='img/testimonials/t1.jpg') }}" alt="" />
              </div>
              <div class="col-lg-8">
                <div class="testi_text">
                  <h4>Arjun Patel</h4>
                  <p>
                    Dived into Product Management courses, gained valuable insights! Finished the program, feeling confident for real-world projects—a fantastic learning journey that truly leveled up my skills.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="testi_item">
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <img src="{{ url_for('static', filename='img/testimonials/t2.jpg') }}" alt="" />
              </div>
              <div class="col-lg-8">
                <div class="testi_text">
                  <h4>Divya Menon</h4>
                  <p>
                    Started learning Full Stack Development with excitement! Really recommend this amazing learning experience that can change your skills!
                  </p>
                </div>
                </div>
              </div>
            </div>
          </div>
           
        </div>
      </div>
    </div>
  </div>
  <!--================ End Testimonial Area =================-->


<!--================ Start footer Area  =================-->
<footer class="footer-area section_gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 single-footer-widget">
        <img src="{{ url_for('static', filename='img/footer.png') }}" alt="" width="250px" height="200px"/>
      </div>
      <div class="col-lg-4 col-md-6 single-footer-widget">
        <h4>Top Enrolled Courses</h4>
           <ul>
            
            <li><a href="{{ url_for('Power_BI') }}">Power BI</a></li>
            <li><a href="{{ url_for('Tableau') }}">Tableau</a></li>
            <li><a href="{{ url_for('SQL') }}">SQL</a></li>
            <li><a href="{{ url_for('Salesforce') }}">Salesforce</a></li>
            <li><a href="{{ url_for('Full_stack_development') }}">Full stack development</a></li>
            <li><a href="{{ url_for('Python') }}">Python</a></li>
              
            <li><a href="{{ url_for('Product_management_and_analytics') }}">Product management and analytics</a></li>
            <li><a href="{{ url_for('Agile_methodologies_training') }}">Agile methodologies training</a></li>  
          </ul>
      </div>
      <div class="col-lg-2 col-md-6 single-footer-widget">
        <h4>Browse
          </h4>
        <ul>
          <li><a href="{{ url_for('index') }}">Home
             </a></li>
          <li><a href="{{ url_for('about') }}">About </a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="{{ url_for('terms_and_conditions')}}">Terms of Service</a></li>
        </ul>
      </div>
      
      
      <div id="contact" class="col-lg-3 col-md-6 single-footer-widget">
        <h4>Treyas Info Tech PVT LTD</h4>
        <!-- Email Link -->
        <p>Email: <a href="mailto:info@treyas.in" class="text-white">info@treyas.in</a></p>

        <!-- WhatsApp Link -->
        <p>WhatsApp: <a href="https://wa.me/+919663961274" class="text-white" target="_blank">+91 96639 61274</a></p>

        <!-- Google Maps Link -->
        <p class="text-white">Location: Jbr Tech Park, 6th Rd, EPIP Zone, Whitefield, Bengaluru, Karnataka 560066 </a></p>

        
      </div>
     
    </div>
   
    <div class="row footer-bottom d-flex justify-content-between">
      <p class="col-lg-8 col-sm-12 footer-text m-0 text-white">

Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by Treyas Info Tech PVT LTD
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      </p>
      <div class="col-lg-4 col-sm-12 footer-social">
        <a href="#"><i class="ti-facebook"></i></a>
        <a href="#"><i class="ti-twitter"></i></a>
        <a href="#"><i class="ti-dribbble"></i></a>
        <a href="#"><i class="ti-linkedin"></i></a>
      </div>
    </div>
  </div>
</footer>

    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/nice-select/js/jquery.nice-select.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/owl-carousel/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/owl-carousel-thumb.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.ajaxchimp.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mail-script.js') }}"></script>
    <!--gmaps Js-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="{{ url_for('static', filename='js/gmaps.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
  </body>
</html>
