<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport"  content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta property="og:title" content="Treyas Info Tech"/>
    <meta property="og:description" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:type" content="Education Website"/>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/png" />
    <title>Treyas Info Tech</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flaticon.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/owl-carousel/owl.carousel.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/nice-select/css/nice-select.css') }}" />
    <!-- main css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                alert("{{ messages[0] }}");
            </script>
        {% endif %}
    {% endwith %}
  </head>
  <style>
    
    
    /* Button used to open the contact form - fixed at the bottom of the page */
    .open-button {
      background-color: #555;
      color: white;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      opacity: 0.8;
      position: fixed;
      bottom: 23px;
      right: 28px;
      width: 280px;
    }
    
    /* The popup form - hidden by default */
    .form-popup {
      display: none;
      position: fixed;
      bottom: 0;
      right: 15px;
      border: 3px solid #f1f1f1;
      z-index: 9;
    }
    
    /* Add styles to the form container */
    .form-container {
      max-width: 300px;
      padding: 10px;
      background-color: white;
    }
    
    /* Full-width input fields */
    .form-container input[type=text], .form-container input[type=password] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      border: none;
      background: #f1f1f1;
    }
    
    /* When the inputs get focus, do something */
    .form-container input[type=text]:focus, .form-container input[type=password]:focus {
      background-color: #ddd;
      outline: none;
    }
    
    /* Set a style for the submit/login button */
    .form-container .btn {
      background-color: #04AA6D;
      color: white;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      width: 100%;
      margin-bottom:10px;
      opacity: 0.8;
    }
    
    /* Add a red background color to the cancel button */
    .form-container .cancel {
      background-color: red;
    }
    
    /* Add some hover effects to buttons */
    .form-container .btn:hover, .open-button:hover {
      opacity: 1;
    }
    </style>
 

  <body>
    <!--================ Start Header Menu Area =================-->
    <header class="header_area">
      <div class="main_menu">
        <div class="search_input" id="search_input_box">
          <div class="container">
            <form class="d-flex justify-content-between" method="" action="">
              <input
                type="text"
                class="form-control"
                id="search_input"
                placeholder="Search Here"
              />
              <button type="submit" class="btn"></button>
              <span
                class="ti-close"
                id="close_search"
                title="Close Search"
              ></span>
            </form>
          </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand logo_h" href="index.html" >
              <img src="{{ url_for('static', filename='img/logo.png') }}" alt="" width="100px" height="80px"/>
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="icon-bar"></span> <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div
              class="collapse navbar-collapse offset"
              id="navbarSupportedContent"
            >
              <ul class="nav navbar-nav menu_nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('about') }}">About</a>
                </li>
                 
                <li class="nav-item submenu dropdown">
                  <a
                    href="#"
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >Courses</a
                  >
                  <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('Technology_training') }}">Technology training</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('Power_BI') }}">Power BI</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('Tablue') }}">Tablue</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('SQL') }}">SQL</a>
                    </li> 
                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('Salesforce') }}">Salesforce</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('Full_stack_development') }}">Full stack development</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('Python') }}">Python</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('Product_management_courses') }}">Product management courses</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('Product_management_and_analytics') }}">Product management and analytics</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('Agile_methodologies_training') }}">Agile methodologies training</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link search" id="search">
                    <i class="ti-search"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!--================ End Header Menu Area =================-->

    <!--================Home Banner Area =================-->
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <div class="banner_content text-center">
                <h2> Full Stack Web Development</h2>
                <div class="page_link">
                  <a href="index.html">Home</a>
                  <a href="courses.html">Courses</a>
                  <a href="course-details.html"> Full Stack Web Development</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================ Start Course Details Area =================-->
    <section class="course_details_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 course_details_left">
                    <div class="main_image">
                        <img class="img-fluid" src="img/courses/course-details.jpg" alt="">
                    </div>
                    <div class="content_wrapper">
                        <h4 class="title"> Full Stack Web Development</h4>
                        <div class="content">
                          Embark on an exciting journey into the dynamic realm of Cybersecurity and Ethical Hacking, where every click propels you towards digital mastery. Immerse yourself in hands-on training through practical labs, simulations, and real-world experiences that mirror the challenges of the ever-evolving Cybersecurity and Ethical Hacking landscape.
                          <br>
                          <br>
                          Our comprehensive course covers essential domains, including Network Security, Cloud Security, Ethical Hacking, Penetration Testing, Web Application Security, Mobile Application Security, and Exploitation Techniques with countermeasures.
                          <br>
                          <br>
                          With a stellar 4.9-star rating, Treyas proudly claims the title of the #1 International Training Institute, recognized by prestigious forums such as the British Columbia Times, Business World, Avalon Global, and more. Choose Treyas as your premier destination for mastering high-demand skills in Cybersecurity and Ethical Hacking.
                           
                             
                        </div>

                        <h4 class="title">Captivating Security Subjects</h4>
                        <div class="content">
                          Embark on an intellectually stimulating journey with topics designed to captivate your curiosity. Begin by unraveling the essentials of Security, Data Encryption, and Compliance.
                          <br><br>
                           Dive deeper into the intricacies of advanced realms, exploring topics like Threat Detection, Ethical Hacking Techniques, Network Security, Web and Mobile Application Security, and the cutting-edge field of Security Automation.
                           <br><br>
                            Stay ahead of the curve by immersing yourself in these engaging subjects and keeping abreast of emerging trends in the ever-evolving landscape of cybersecurity. 
                        </div>

                        <h4 class="title">Learning Pathway Guide</h4>
                        <div class="content">
                          Navigate from fundamentals to advanced concepts, engage in hands-on labs using cutting-edge tools, and apply learning to real-world scenarios. 
                          <br><br>
                          The journey encompasses comprehensive modules, mentor-guided exercises, and industry insights, ensuring a robust and practical learning experience.
                        </div>

                        <h4 class="title">Course Outline</h4>
                        <div class="content">
                            <ul class="course_list">
                                <li class="justify-content-between d-flex">
                                    <p>Introduction to Cybersecurity and Ethical Hacking</p>
                                    <a class="primary-btn text-uppercase" href="#">View Details</a>
                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Essentials of Networking</p>
                                    <a class="primary-btn text-uppercase" href="#">View Details</a>
                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Advanced Networking Concepts</p>
                                    <a class="primary-btn text-uppercase" href="#">View Details</a>
                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Windows Security</p>
                                    <a class="primary-btn text-uppercase" href="#">View Details</a>
                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Cloud Technology and Security</p>
                                    <a class="primary-btn text-uppercase" href="#">View Details</a>
                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Linux Security</p>
                                    <a class="primary-btn text-uppercase" href="#">View Details</a>
                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Exploiting Networks</p>
                                    <a class="primary-btn text-uppercase" href="#">View Details</a>
                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Securing Web Applications</p>
                                    <a class="primary-btn text-uppercase" href="#">View Details</a>
                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Securing Mobile Application</p>
                                    <a class="primary-btn text-uppercase" href="#">View Details</a>
                                </li>
                                <li class="justify-content-between d-flex">
                                  <p>Project Assignment</p>
                                  <a class="primary-btn text-uppercase" href="#">View Details</a>
                              </li>
                              <li class="justify-content-between d-flex">
                                <p>Final Project</p>
                                <a class="primary-btn text-uppercase" href="#">View Details</a>
                            </li>
                            <li class="justify-content-between d-flex">
                              <p>Professional Advancement</p>
                              <a class="primary-btn text-uppercase" href="#">View Details</a>
                          </li>

                            </ul>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 right-contents">
                    <ul>
                        <li>
                            <a class="justify-content-between d-flex" href="#">
                                <p>Meet Your Instructor</p>
                                <span class="or">Passionate expert, your gateway to industry.</span>
                            </a>
                        </li>
                        <li>
                            <a class="justify-content-between d-flex" href="#">
                                <p>In-Depth Learning Program</p>
                                <span>Expertly crafted curriculum, blending theory and practice.</span>
                            </a>
                        </li>
                        <li>
                            <a class="justify-content-between d-flex" href="#">
                                <p>Available Seats </p>
                                <span>15</span>
                            </a>
                        </li>
                        <li>
                            <a class="justify-content-between d-flex" href="#">
                                <p>Schedule </p>
                                <span>2.00 pm to 4.00 pm</span>
                            </a>
                        </li>
                    </ul>
                    <button onclick="openForm()" class="  primary-btn2 text-uppercase enroll rounded-0 ">Download Brochure</button>
                    <div class="form-popup" id="myForm">
                      <div class="register_form">
                        <h3>Fill out the form to get our brochure.</h3>
                  
                        <form class="form_area form-container"  action="{{ url_for('submit') }}" method="post">
                          {{ csrf_token }}
                          <div class="row">
                              <div class="col-lg-12 form_group">
                                  <input name="name" placeholder="Your Name" required="" type="text" />
                                  <input name="phone_number" placeholder="Your Phone Number" required="" type="tel" />
                                  <input name="email" placeholder="Your Email Address" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" required="" type="email" />
                              </div>
                             
                                  <button type="submit" role="button" class="primary-btn">Submit</button>
                             
                          </div>
                         
                        </form>
                      </div>
                    </div>
                    <script>
                      function openForm() {
                        document.getElementById("myForm").style.display = "block";
                      }
                      
                      function closeForm() {
                        document.getElementById("myForm").style.display = "none";
                      }
                      </script>
                    <h4 class="title">Reviews</h4>
                    <div class="content">
                        <div class="review-top row pt-40">
                            <div class="col-lg-12">
                                <h6 class="mb-15">Provide Your Rating</h6>
                                <div class="d-flex flex-row reviews justify-content-between">
                                    <span>Quality</span>
                                    <div class="star">
                                        <i class="ti-star checked"></i>
                                        <i class="ti-star checked"></i>
                                        <i class="ti-star checked"></i>
                                        <i class="ti-star"></i>
                                        <i class="ti-star"></i>
                                    </div>
                                    <span>Outstanding</span>
                                </div>
                                <div class="d-flex flex-row reviews justify-content-between">
                                    <span>Puncuality</span>
                                    <div class="star">
                                        <i class="ti-star checked"></i>
                                        <i class="ti-star checked"></i>
                                        <i class="ti-star checked"></i>
                                        <i class="ti-star"></i>
                                        <i class="ti-star"></i>
                                    </div>
                                    <span>Outstanding</span>
                                </div>
                                <div class="d-flex flex-row reviews justify-content-between">
                                    <span>Quality</span>
                                    <div class="star">
                                        <i class="ti-star checked"></i>
                                        <i class="ti-star checked"></i>
                                        <i class="ti-star checked"></i>
                                        <i class="ti-star"></i>
                                        <i class="ti-star"></i>
                                    </div>
                                    <span>Outstanding</span>
                                </div>
                            </div>
                        </div>
                        <div class="feedeback">
                            <h6>Your Feedback</h6>
                            <textarea name="feedback" class="form-control" cols="10" rows="10"></textarea>
                            <div class="mt-10 text-right">
                                <a href="#" class="primary-btn2 text-right rounded-0 text-white">Submit</a>
                            </div>
                        </div>
                        <div class="comments-area mb-30">
                            <div class="comment-list">
                                <div class="single-comment single-reviews justify-content-between d-flex">
                                    <div class="user justify-content-between d-flex">
                                        <div class="thumb">
                                            <img src="img/blog/c1.jpg" alt="">
                                        </div>
                                        <div class="desc">
                                            <h5><a href="#">Naveen</a>
                                                <div class="star">
                                                    <span class="ti-star checked"></span>
                                                    <span class="ti-star checked"></span>
                                                    <span class="ti-star checked"></span>
                                                    <span class="ti-star"></span>
                                                    <span class="ti-star"></span>
                                                </div>
                                            </h5>
                                            <p class="comment">
                                              Empowered by cybersecurity! Transformed from novice to ethical hacker through an intense journey. <br>
                                              Course completed, skills acquired, now safeguarding digital frontiers.
                                              <br> Turning passion into a secure profession, one hack at a time!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-list">
                                <div class="single-comment single-reviews justify-content-between d-flex">
                                    <div class="user justify-content-between d-flex">
                                        <div class="thumb">
                                            <img src="img/blog/c2.jpg" alt="">
                                        </div>
                                        <div class="desc">
                                            <h5><a href="#">Divya Menon</a>
                                                <div class="star">
                                                    <span class="ti-star checked"></span>
                                                    <span class="ti-star checked"></span>
                                                    <span class="ti-star checked"></span>
                                                    <span class="ti-star"></span>
                                                    <span class="ti-star"></span>
                                                </div>
                                            </h5>
                                            <p class="comment">
                                              Embarked on the Full Stack Development journey with enthusiasm!  Highly recommend this transformative learning experience!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-list">
                                <div class="single-comment single-reviews justify-content-between d-flex">
                                    <div class="user justify-content-between d-flex">
                                        <div class="thumb">
                                            <img src="img/blog/c3.jpg" alt="">
                                        </div>
                                        <div class="desc">
                                            <h5><a href="#">Arjun Patel</a>
                                                <div class="star">
                                                    <span class="ti-star checked"></span>
                                                    <span class="ti-star checked"></span>
                                                    <span class="ti-star checked"></span>
                                                    <span class="ti-star"></span>
                                                    <span class="ti-star"></span>
                                                </div>
                                            </h5>
                                            <p class="comment">
                                              Embarked on a rewarding journey in Java Programming!  Successfully completed the program, acquiring essential skills for Java development.
                                              <br> Now, ready to tackle real-world projects with confidence.
                                              <br> A fantastic learning experience that has truly enhanced my programming proficiency.  
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Course Details Area =================-->

   <!--================ Start footer Area  =================-->
   <footer class="footer-area section_gap">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 single-footer-widget">
          <img src="{{ url_for('static', filename='img/footer.png') }}" alt="" width="250px" height="200px"/>
        </div>
        <div class="col-lg-4 col-md-6 single-footer-widget">
          <h4>Top Enrolled Courses
            
            
             </h4>
          <ul>
            <li><a href="{{ url_for('Technology_training') }}">Technology training</a></li>
            <li><a href="{{ url_for('Power_BI') }}">Power BI</a></li>
            <li><a href="{{ url_for('Power_BI') }}">Tablue</a></li>
            <li><a href="{{ url_for('Power_BI') }}">SQL</a></li>
            <li><a href="{{ url_for('Power_BI') }}">Salesforce</a></li>
            <li><a href="{{ url_for('Power_BI') }}">Full stack development</a></li>
            <li><a href="{{ url_for('Power_BI') }}">Python</a></li>
            <li><a href="{{ url_for('Power_BI') }}">Product management courses</a></li>
            <li><a href="{{ url_for('Power_BI') }}">Product management and analytics</a></li>
            <li><a href="{{ url_for('Power_BI') }}">Agile methodologies training</a></li>  
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 single-footer-widget">
          <h4>Browse
            </h4>
          <ul>
            <li><a href="{{ url_for('index') }}">Home
               </a></li>
            <li><a href="{{ url_for('about') }}">About </a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Terms of Service</a></li>
          </ul>
        </div>
        
        
        <div class="col-lg-3 col-md-6 single-footer-widget">
          <h4>Newsletter</h4>
          <p>You can trust us. we only send promo offers,</p>
          <div class="form-wrap" id="mc_embed_signup">
            <form
              target="_blank"
              action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
              method="get"
              class="form-inline"
            >
              <input
                class="form-control"
                name="EMAIL"
                placeholder="Your Email Address"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Your Email Address'"
                required=""
                type="email"
              />
              <button class="click-btn btn btn-default">
                <span>subscribe</span>
              </button>
              <div style="position: absolute; left: -5000px;">
                <input
                  name="b_36c4fd991d266f23781ded980_aefe40901a"
                  tabindex="-1"
                  value=""
                  type="text"
                />
              </div>

              <div class="info"></div>
            </form>
          </div>
        </div>
       
      </div>
     
      <div class="row footer-bottom d-flex justify-content-between">
        <p class="col-lg-8 col-sm-12 footer-text m-0 text-white">

Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by Treyas Info Tech PVT LTD
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
        <div class="col-lg-4 col-sm-12 footer-social">
          <a href="#"><i class="ti-facebook"></i></a>
          <a href="#"><i class="ti-twitter"></i></a>
          <a href="#"><i class="ti-dribbble"></i></a>
          <a href="#"><i class="ti-linkedin"></i></a>
        </div>
      </div>
    </div>
  </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/nice-select/js/jquery.nice-select.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/owl-carousel/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/owl-carousel-thumb.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.ajaxchimp.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mail-script.js') }}"></script>
    <!--gmaps Js-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="{{ url_for('static', filename='js/gmaps.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
  </body>
</html>
